* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family:inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding:0;
    border:0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size:inherit;
    font-weight: 400;
}

:root {
    --header-height: 80px;
    --title-completer-offset: 0px;
}

.container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

.inline-style {
    flex-direction: row !important;
    align-items: center;
}

.width-max-content {
    width: max-content !important;
}

.margin-clear {
    margin: 0 !important;
}

.display-none {
    display: none !important;
}

/*== Common styles*/

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*== Header ==*/

header {
    height: var(--header-height);
    width: 100%;
}

.header__content {
    height: 100%;
    width: 100%;
    display: flex;
}

.header__logo {
    height: 100%;
    width: 50%;
}

.logo {
    height: 100%;
}

.header__user {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.logout-link {
    font-size: 22px;
    color: #4a5568;
}

.logout-link:hover {
    text-decoration: underline;
    color: #151a23;
}

.username {
    font-size: 22px;
    color: #4a5568;
}

/*== Main ==*/

main {
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    padding: 20px 0 0 0;
}

/*== Auth Forms ==*/

form {
    padding: 10px;
}

.login-form,
.register-form {
    width: 400px;
    height: 700px;
    padding: 20px;
}

.login-form__fieldset,
.register-form__fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-form__legend,
.register-form__legend {
    font-size: 24px;
    text-align: center;
}

.login-form__element,
.register-form__element {
    width: 100%;
    height: auto;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__field-container,
.register-form__field-container {
    width: 100%;
    display: flex;
}

.login-form__label,
.register-form__label {
    width: max-content;
    font-size: 18px;
    margin-right: 10px;
    align-self: center;
}

.login-form__input,
.register-form__input {
    width: 100%;
    outline: 2px solid #718096;
    font-size: 16px;
    padding: 5px;
}

.login-form__input:focus,
.register-form__input:focus {
    outline-color: darkseagreen;
}

.login-form__button,
.register-form__button {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(113, 128, 150, 0.8);
    color: white;
}

/*== Albums ==*/

.create-button__block {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.create-button {
    padding: 5px;
    font-size: 16px;
    background-color: rgba(113, 128, 150, 0.8);
    color: white;
}

.albums {
    display: flex;
    flex-direction: column;
}

.album {
    display: flex;
    width: 600px;
    margin: 20px auto;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.album__image-block {
    width: 50%;
    height: 100%;
    background-color: #4a5568;
}

.album__image {
    width: 100%;
    height: 100%;
}

.album__text-block {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.text-block__item {
    margin-bottom: 10px;
}

.text-block__item:last-child {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-block__title {
    font-size: 20px;
    margin-bottom: 5px;
    font-style: italic;
}

.text-block__value {
    font-size: 17px;
    color: #2f343d;
}

.text-block__description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: pre-wrap;
    overflow: hidden;
}

.link-separator {
    height: 100%;
    min-height: 80px;
    flex-grow: 1;
}

.album__link {
    font-size: 16px;
    color: #6d7b8e;
    width: 100%;
    text-align: right;
}

.album__link:hover {
    color: #2d3748;
    text-decoration: underline;
}

/*== Show album ==*/

.show-album {
    height: 100%;
    width: 500px;
}

.show-album__content {
    height: 100%;
    width: 100%;
}

.show-album__title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 700;
}

.show-album__item {
    width: 100%;
    margin-bottom: 15px;
}

.show-album__image-container {
    width: 300px;
    height: 300px;
}

.show-album__image {
    width: 100%;
    height: 100%;
}

.show-album__subject {
    font-size: 20px;
    margin-bottom: 5px;
    font-style: italic;
}

.show-album__data {
    font-size: 17px;
    color: #242b36;
}

.show-album__button {
    width: 100%;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    color: black;
}

.show-album__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*== Creation and edit form ==*/

.container__creation-form,
.container__edit-form,
.container__show-album{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creation-form,
.edit-form {
    width: 400px;
    height: 700px;
    padding: 20px;
}

.creation-form__content,
.edit-form__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.creation-form__legend,
.edit-form__legend {
    font-size: 24px;
    text-align: center;
}

.creation-form__item,
.edit-form__item {
    width: 100%;
    height: auto;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.creation-form__item:first-of-type,
.edit-form__item:first-of-type {
    width: 100%;
    margin: 20px 0 15px 0;
}

.creation-form__label,
.edit-form__label {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.creation-form__input,
.edit-form__input {
    width: 100%;
    outline: 2px solid #718096;
    font-size: 16px;
    padding: 5px;
    z-index: 1;
}

.creation-form__input:focus,
.edit-form__input:focus {
    outline-color: darkseagreen;
}

#title-completer,
#edit-title-completer {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    height: 100%;
}

#title-completer::after,
#edit-title-completer::after {
    content: attr(data-after);
    position: absolute;
    top: 33.5px;
    left: var(--title-completer-offset);
    bottom: 0px;
    right: 0px;
    z-index: 10;
    color: grey;
    padding: 0 5px;
    font-size: 16px;
}

.creation-form__textarea,
.edit-form__textarea {
    width: 100%;
    outline: 2px solid #718096;
    font-size: 15px;
    padding: 5px;
}

.creation-form__textarea:focus,
.edit-form__textarea:focus {
    outline-color: darkseagreen;
}

.creation-form__button,
.edit-form__button {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(113, 128, 150, 0.8);
    color: white;
}

.creation-form__button:hover,
.edit-form__button:hover {
    background-color: rgba(113, 128, 150, 1);
}

.edit-form__image {
    margin-top: 10px;
}

#use_autocompletion {
    margin-left: 10px;
}

.form-error-message {
    color: tomato;
    font-size: 15px;
    margin-top: 10px;
}

/*== Paginator ==*/

.container__paginator {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.paginator {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.paginator-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71 85 105);
}

.paginator-item__page-number {
    font-size: 18px;
    color: rgb(236 254 255);
}

.paginator-item__page-number:hover {
    color: rgb(34 211 238);
}

.paginator-item__page-number--active {
    color: rgb(34 211 238);
}
